{% extends 'authapp/base.html' %}

{% block content %}
    <form class="form-horizontal col-10" method="post" action="{% url 'authapp:login' %}">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" value="{{ next }}" name="next">
        {% endif %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
    <a class="btn btn-info" href="{% url 'authapp:register' %}" style="width: 100%;">Зарегистрироваться</a>
    <button class="btn btn-round form-control">
        <a class="btn btn-info" href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
            Вход через ВКонтакте
        </a>
    </button>
{% endblock %}